@charset "utf-8" ;

/*=========================
全体的なスタイル
==========================*/
*{
        margin: 0px;padding: 0px;/*全要素のマージン、パディングをリセット*/
}
body {
        width: 1280px;
        background-image: url(white_00095.jpg);
        font-size:95%;/*フォントサイズの変更*/
        line-height:1.5;/*行の高さの変更*/
        color: black;/*文字色の変更*/
}

img{border: 0;} /*画像のボーダーをゼロにする*/

/*=======================
ヘッダー
======================*/
div#header {
        height: 80px;/*ヘッダー部分の高さ*/
}
div#header h1{
        padding: 10px 0px 5px 20px;/*見出しの位置調整*/
        font-size: 18px;/*フォントのサイズ*/
        font-family: Arial, Helvetica, sans-serif;/*フォントの種類*/
}
div#header h1 a{text-decoration: none;}
/*=======================
メインメニュー
========================*/
ul#menu {
        width: 620px; height: 50px;    /*メインメニュー部分の幅と高さ*/
} 

#menu li {
        list-style-type: none;/*リストマーカーなしにする*/
        display: inline-block;/*リスト要素を一行にブロック表示する？*/
        width: 200px; height: 25px;
}

#menu li a{
        background-color: navy;
        color: white;
        display: block;/*リンク部分をブロック表示にする*/
        width: 200px; height: 25px;/*リスト要素の幅と高さ*/
        padding: 8px 0px 0px 0px;/*上パディング*/
        text-align:center; /*テキストをセンター揃えにする*/
        text-decoration: none;/*リンク下部の線を消す*/
}
#menu li a:hover {
        background-color: rgb(0, 0, 90);
}